
.fourth-section {
    text-align: center;
    padding: 40px 20px;
    padding-top: 0px;
  }
  
  .main-heading {
    font-size: 24px;
    color: black;
    margin-bottom: 10px;
    font-weight: 700;
  }
  
  .sub-heading {
    font-size: 18px;
    color: black;
    margin-bottom: 30px;
    font-weight: 400;
  }
  
  .cards-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .card {
    background-color: #000;
    border-radius: 20px;

    width: calc(33.333% - 20px); 
    overflow: hidden;
    color: white;
    text-align: left;
    display: flex;
    flex-direction: column;
  }
  
  .card-image {
   margin: 10px 10px;
   height: 40vh;
    display: block;
    border-radius: 20px;

  }
  
  .card-content {
    padding: 20px;
  }
  
  .card-title {
    font-size: 16px;
    margin: 0;
  }
  
  .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  
  .rating {
    display: flex;
    align-items: center;
  }
  
  .stars {
    color: #FFD700;
  }
  
  .rating-score {
    margin-left: 5px;
  }
  
  .learn-more-button {
    background-color: #FFD700;
    border: 1px solid #fff;
    color: black;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
  }
  
  .custom-hr {
    border: none;
    height: 1px;
    background-color: #FFF;
    margin: 20px 12px;
    margin-bottom: 0px; 
  }