.footer {
    background-color: black;
    color: white;
    padding: 40px 20px;
  }
  
  .footer-container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .footer-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .footer-left,
  .footer-right {
    flex: 1;
    padding: 10px;
  }
  
  .footer-logo {
    max-width: 150px; /* Adjust as needed */
  }
  
  .footer-left h4,
  .footer-right h4 {
    font-size: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: left;
  }
  
  .footer-left ul,
  .footer-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-left ul li,
  .footer-right ul li {
    margin-bottom: 8px;
    position: relative;
    padding-left: 25px; 
    text-align: left;
  }
  
  .footer-left ul li::before,
  .footer-right ul li::before {
    content: "•"; 
    color: white; 
    font-size: 18px; 
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .footer-left ul li:hover,
  .footer-right ul li:hover {
    text-decoration: underline;
  }
  
  .footer p {
    margin: 0;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
  }
  
  .footer-logo {
    display: block;
    margin-bottom: 20px;
  }
  
  .footer-description {
    margin-bottom: 20px;
  }
  